$mainBlue: rgb(25, 110, 239);
$lowRed: rgb(170, 0, 0);

$gutter-width: 30px;
$wrapper-padding: 18px;
$toggleLOffset: 25px;

$buttonSize: 3rem;

$sidebarW: 15rem;
$optionsW: 12rem;

$toggleZ:   500;
$btnGroupZ: 500;
$sidebarZ:  300;
$shadowZ:   200;
$baseZ:     100;
