nav {
    height: 100%;
    background-color: #DDD;
    border-right: 4px solid #BBB;
    
    ul {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        padding: 0;
        list-style-type: none;

        li a {
            .noDecoration;
            display: block;
            width: 100%;
            padding: 15px 25px;
            font-size: 1.45rem;
            font-weight: 900;
            color: #555;

            &:hover {
                background-color: #BBB;
            }

        }
    }

    button {
        .clickable;
        position: absolute;
        z-index: 20;
        bottom: 0;
        width: 100%;
        padding: 20px 15px;
        border: none;
        background-color: #BBB;
        color: #555;
        font-size: 2.15rem;
        vertical-align: middle;

        span {
            font-size: 3rem;
            font-weight: 900;
        }
    }

}
