head
    link(type='text/css', rel='stylesheet', href='/styles.css')
body
    include includes/shared/page-shadow
    include includes/master/master-nav
    main
        include includes/shared/header
        include includes/master/master-sheet

    include includes/modals/new-modal
    include includes/modals/new-multi-modal
    include includes/modals/log-multi-modal
    include includes/shared/lists
    script(src='/app.js')
