head
    link(type='text/css', rel='stylesheet', href='/styles.css')
body
    include includes/shared/page-shadow
    include includes/master/master-nav
    include includes/master/master-options
    main
        include includes/shared/header
        include includes/master/master-sheet

    include includes/modals/master/legend
    include includes/modals/master/new
    include includes/modals/master/new-multi
    include includes/modals/master/log-multi
    include includes/modals/master/edit
    include includes/modals/master/delete
    include includes/modals/shared/log
    include includes/shared/lists
    script(src='/app.js')
