head
    link(type='text/css', rel='stylesheet', href='/styles.css')
body
    include includes/master-nav
    main
        include includes/header
        include includes/master-sheet

    include includes/new-modal
    script(src='/app.js')