head
    link(type='text/css', rel='stylesheet', href='/styles.css')
body
    include includes/item-nav
    main
        include includes/header
        div#item-pane
            h3.heading= item.name
            p.stock In STOCK: #{item.inStock}
        include includes/item-sheet

    script(src='/app.js')
