head
    link(type='text/css', rel='stylesheet', href='/styles.css')
body
    #page-id item
    include includes/shared/page-shadow
    include includes/item/item-nav
    include includes/item/item-options
    main
        include includes/shared/header
        include includes/item/item-panes.pug
        include includes/item/item-sheet
    include includes/modals/item/legend
    include includes/modals/item/edit-record
    include includes/modals/item/edit-comment
    include includes/modals/shared/log
    script(src='/app.js')
