head
    link(type='text/css', rel='stylesheet', href='/styles.css')
body
    include includes/shared/page-shadow
    include includes/item/item-nav
    main
        include includes/shared/header
        include includes/item/item-panes.pug
        include includes/item/item-sheet
    include includes/modals/log-modal
    script(src='/app.js')
