aside#options
    button.btn--big-block#open
        img(src='/icons/next.png')
        p.desc OPEN #[small (O)]
    button.btn--big-block.edit--open
        img(src='/icons/edit.png')
        p.desc EDIT #[small (E)]
    button.btn--big-block.delete--open
        img(src='/icons/delete.png')
        p.desc DELETE #[small (D)]
    button.btn--big-block.delete--open
        //img(src='/icons/delete.png')
        p.desc NEW #[small (L)]
        
