aside#options
    button.btn--big-block#open
        img(src='/icons/next.png')
        p.desc OPEN
    button.btn--big-block.edit--open
        img(src='/icons/edit.png')
        p.desc EDIT
    button.btn--big-block.delete--open
        img(src='/icons/delete.png')
        p.desc DELETE
