aside#options
    button.btn--big-block.edit-log--open
        img(src='/icons/change.png')
        p.desc EDIT #[small (E)]
    button.btn--big-block.edit-comment--open
        img(src='/icons/comment.png')
        p.desc COMMENT #[small (C)]