- let logTooltip    = 'Log Multiple Items (L)'
- let helpTooltip   = 'Help (H)'
- let backTooltip   = 'Quick (Q)'

nav#main-nav
    .list-container
        ul
            each item in categoryItems
                li: a(href='/items/' + item._id)= item.name
                

.btn-group
    button.btn--circle.log--open.tooltip
        span.tooltip-text= logTooltip
        span >
    button.btn--circle.tooltip.legend--toggle
        span.tooltip-text= helpTooltip
        span ?
