* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
}
main {
  position: relative;
  float: right;
  width: 80%;
}
header {
  position: relative;
  top: -25px;
  background-color: #196EEF;
  color: #FFF;
  padding: 25px 15px;
}
header p span {
  float: right;
}
#item-pane {
  padding: 25px 15px;
}
nav {
  height: 100%;
  background-color: #DDD;
  border-right: 4px solid #BBB;
}
nav ul {
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  padding: 15px 25px;
  font-size: 1.45rem;
  font-weight: 900;
  color: #555;
}
nav ul li a:hover {
  text-decoration: none;
}
nav ul li a:visited {
  text-decoration: none;
}
nav ul li a:active {
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #BBB;
}
nav button {
  position: absolute;
  z-index: 20;
  bottom: 0;
  width: 100%;
  padding: 20px 15px;
  border: none;
  background-color: #BBB;
  color: #555;
  font-size: 2.15rem;
  vertical-align: middle;
}
nav button:hover {
  cursor: pointer;
}
nav button span {
  font-size: 3rem;
  font-weight: 900;
}
table {
  margin-left: 25px;
  width: 80%;
  border-collapse: collapse;
}
table .row {
  color: inherit;
}
table .row--striped {
  background-color: #CCC;
}
table .row--striped:hover {
  background-color: #a6a6a6;
}
table .row--low {
  background-color: #ffaaaa !important;
  color: #A00;
}
table .row--low:hover {
  background-color: #ff7777 !important;
}
table .row:hover {
  background-color: #DDD;
}
table .row td {
  padding: 10px 15px;
}
table .row .id {
  display: none;
}
table .row .name {
  text-align: left;
}
table .row .name:hover {
  cursor: pointer;
}
table .row .stock {
  text-align: right;
}
table .row .delete {
  position: relative;
}
table .row .delete button {
  border-radius: 100px;
  height: 100%;
  border: none;
  font-weight: 900;
  transform: scale(1.35) scaleX(1.25);
  background-color: rgba(0, 0, 0, 0);
  color: inherit;
}
table .row .delete button:hover {
  cursor: pointer;
}
table .row .delete button span {
  display: none;
}
table td,
table th {
  text-align: right;
}
table td:first-child,
table th:first-child {
  text-align: left;
}
table td.heading {
  padding-top: 25px;
  background-color: #FFF;
  border-bottom: 1px solid #333;
  font-size: 2.8rem;
}
table td button.new--open {
  background-color: #196EEF;
  border: none;
  padding: 5px 10px;
  color: #FFF;
  text-transform: uppercase;
}
table td button.new--open:hover {
  cursor: pointer;
}
form .form-group {
  font-size: 1.35rem;
  padding: 7px 0;
  min-width: 200px;
  border-bottom: 1px solid #DDD;
}
form .form-group label {
  float: left;
}
form .form-group input {
  float: right;
  font-size: inherit;
}
form .form-group::after {
  content: ' : ';
  clear: both;
}
form input[type="submit"],
form button.submit {
  margin: 15px 0;
  padding: 5px 15px;
  float: right;
  background-color: #196EEF;
  color: #FFF;
  font-size: 1.65rem;
  border: none;
}
form input[type="submit"]:hover,
form button.submit:hover {
  background-color: #0e57c7;
}
.modal {
  transition: all 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transform: scale(1.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(221, 221, 221, 0.85);
}
.modal--open {
  opacity: 1;
  visibility: visible;
  z-index: 9000;
  transform: scale(1);
}
.modal__header {
  text-align: center;
  color: #186eef;
  padding-bottom: 10px;
  border-bottom: 1px solid #BBB;
}
.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  transform-origin: top right;
  transform: scaleX(1.2);
  cursor: pointer;
  color: #196EEF;
}
.modal__close-button:hover {
  color: #196EEF;
}
.modal__body {
  background-color: #FFF;
  border: 1px solid #CCC;
  box-shadow: 3px 4px 1px #333;
  padding: 35px;
  font-size: 1.3rem;
  position: absolute;
  width: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
