#delete.modal.modal--dark
    span.modal__close-button.delete--close X
    section.modal__body.modal__body--opaque
        h1.modal__header Are you sure?
        .row
            .row__md-6: button.btn--primary.delete--close NO
            .row__md-6: button.btn--danger#delete DELETE

