#edit.modal
    span.modal__close-button.edit--close X
    section.modal__body.modal__body--opaque
        h1.modal__header Edit Item
        form#edit-form
            input#u-name
            input#u-category
            input#u-low
        button#edit SUBMIT
