#log.modal
    span.modal__close-button.log--close X
    section.modal__body.modal__body--opaque
        h1.modal__header New Log
        form#log-item(action='#')
            .form-group
                label(for='date') Date :
                input(type='date' name='date')
            .form-group
                label(for='added') Added :
                input(name='added' type='number' min=0 value=0)
            .form-group
                label(for='removed') Removed :
                input(name='removed' type='number' min=0 value=0)
            button.submit #[span.hidden #{item._id}]LOG
