nav {
    height: 100%;
    background-color: #DDD;
    border-right: 4px solid #BBB;

    ul {
        position: absolute;
        z-index: 10;
        width: 100%;
        top: 15%;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li a {
            @mixin noDecoration;
            display: block;
            width: 100%;
            padding: 15px 25px;
            font-size: 1.45rem;
            font-weight: 900;
            color: #555;

            &:hover {
                background-color: #BBB;
            }

        }
    }
    .btn-group {
        position: absolute;
        bottom: 0;
    }
    button {
        @mixin clickable;
        height: 80px;
        width: 100%;
        padding: 10px 15px;
        border: none;
        background-color: #CCC;
        color: #555;
        font-size: 2.15rem;
        text-align: left;

        span {
            position: relative;
            font-size: 2.5rem;
            font-weight: 900;
        }

        &:hover {
            background-color: #BBB;
        }
    }

}
