table {
    margin-left: 25px;
    width: 80%;
    border-collapse: collapse;
    clear: both;

    .row {
        &--striped {
            background-color: #CCC;
            &:hover { background-color: color(#CCC b(15%)) };
        }

        &--low {
            background-color: color($lowRed l(50%) a(50%)) !important;
            color: $lowRed;
            &:hover { background-color: color($lowRed l(40%) a(50%)) !important; }
        }

        color: inherit;
        &:hover { background-color: #DDD }

        td { padding: 10px 15px; }

        .id { display: none; }
        .name { @mixin clickable; text-align: left; }
        .stock { text-align: right; }
        .buttons {
            position: relative;
            button {
                @mixin clickable;
                border-radius: 100px;
                height: 100%;
                margin: 0 15px;
                border: none;
                font-weight: 900;
                transform: scale(1.35) scaleX(1.25);
                background-color: rgba(0,0,0,0);
                color: inherit;
                &:hover { color: #444 }
                span { display: none }
            }
            .edit-name {
                padding: 0 10px;
                background: url('/icons/edit.png');
                background-size: cover;
            }
        }
    }

    td, th {
        text-align: right;
        &:first-child { text-align: left }
    }

    td.heading {
        padding-top: 25px;
        background-color: #FFF;
        border-bottom: 1px solid #333;
        font-size: 2.8rem;
    }

    td button.new--open {
        @mixin clickable;
        background-color: $mainBlue;
        border: none;
        padding: 5px 10px;

        color: #FFF;
        text-transform: uppercase;
    }
}

#item {
    thead th {
        text-align: right;
        font-size: 1.65rem;
        font-weight: 200;
        padding: 2px 0;
        border-bottom: 1px solid #777;
    }
    tbody {
        tr {
            .bolded { font-weight: 800 }
            td:nth-child(2) { float: left }
        }
    }
}
