@import './base/_vars';
@import './base/_mixins';
@import './modules/_btn';
@import './modules/_header';
@import './modules/_item-panes';
@import './modules/_nav';
@import './modules/_table';
@import './modules/_form';
@import './modules/_modal';
@import './modules/_options';
@import './modules/_row';
@import './modules/_sidebar';
@import './modules/_text';
@import './modules/_tooltip';
@import './modules/_wrapper';

* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    margin: 2rem auto;
    background-color: #DDD;
    padding: 0;
    width: 80%;
    overflow-x: hidden;
}

main {
    position: relative;
    background-color: #FFF;
    padding-bottom: 3rem;
    box-shadow: 8px 13px 10px 3px #444;
}

.hidden { display: none }
