#legend.modal
    span.modal__close-button.legend--close X
    section.modal__body.modal__body--opaque
        h1.modal__header Shortcuts
        ul.legend__list
            li Close popups #[span Escape]
            li.legend__heading When no items's selected
            li Show Categories #[span 'C'/Escape ]
            li New Item #[span 'N']
            li Multiple New Items #[span 'M']
            li Multi Record Sheet #[span 'L']
            li.legend__heading When an item is selected
            li Close options list #[span Escape]
            li Open item #[span Dbl. Click/'O']
            li Edit item #[span 'E']
            li Make record #[span 'L']
            li Delete item #[span 'D']
            
        

