#legend.modal
    span.modal__close-button.legend--close X
    section.modal__body.modal__body--opaque
        h1.modal__header Shortcuts
        ul.legend__list
            li Close popups/options #[span Escape]
            li Toggle Help  #[span 'H']
            li Jump to another item #[span 'I']
            li.legend__heading When no items's selected
            li New Log #[span 'N' / 'L']
            li.legend__heading When an item is selected
            li Edit item #[span 'E']
            li Edit comment #[span 'C']
            
        

