#legend.modal
    span.modal__close-button.legend--close X
    section.modal__body.modal__body--opaque
        h1.modal__header Shortcuts
        ul.legend-list
            li Close popups #[span Escape]
            li.heading When no items's selected
            li New Item #[span N]
            li Multiple New Items #[span M]
            li Multi Record Sheet #[span L]
            li.heading When an item is selected
            li Close options list #[span Escape]
            li Open item #[span Double Click / O]
            li Edit item #[span E]
            li Make record #[span L]
            li Delete item #[span D]
            
        

