datalist(id='items')
    - let itemNames = []
    each _ in allItems
        each item in _.items
            - itemNames.push(item.name)
    each item in itemNames
        option= item
        
datalist(id='categories')
    each category in allItems
        option= category._id
